@use '../partials/colors';
@use '../partials/mixins';
@use '../partials/fonts';
@use '../partials/media-queries' as q;




.about {
    background-color: colors.$light-salmon-pink;

    @include mixins.flex(column, center);
    @include q.tablet{

      width: 90%;
      margin: auto;

      
  }

  @include q.large-tablet {
      width: 80%;
      margin: auto;


  }

  @include q.laptop{
      width: 80%;
      margin: auto;

  }

  @include q.desktop{

      width: 80%;
      margin: auto;

  }



}

.about__heading{

   @include mixins.text-description(fonts.$rammetto, white, center);
   width: 100%;
}

.about__quote{

    @include mixins.text-description(fonts.$rammetto, colors.$black-olive, center);
    font-size: smaller;

}

.about__paragraph {
    @include mixins.text-description(fonts.$open-sans, colors.$black-olive, justify);
    font-size: smaller;
    padding: 5px 20px 5px 20px;
 }

    .about__information {

    @include mixins.flex(column, center);

   
    }

    .about__location {
    
        
    border: 1px solid white;
    background-color: white;
    width: 60%;
    object-fit: fill;
    align-self: center;
    padding: 5px;
    }
    table {
      border-collapse: collapse;
      width: 50%;
      align-self: center;
        

    }
    
    td, th {
        @include mixins.text-description(fonts.$open-sans, colors.$black-olive, center);

      border-bottom: 1px solid #dddddd;
      padding: 8px;
      

    }

    .about__phone {

      @include mixins.flex(row, space-around);
      padding-bottom: 10px;
      gap: 5px;
      align-items: center;
    

    }

    .about__heading--details {

      @include mixins.text-description(fonts.$open-sans, colors.$black-olive, center);
      font-weight: bold;

    }

    .about__phone--details {

        width: 20%;
        padding: 10px;
        text-align: center;
        height: auto;

    }

    #about__icons {

      color: colors.$black-olive;
      padding: 5px;
    }