@use '../partials/colors';
@use '../partials/mixins';
@use '../partials/fonts';
@use '../partials/media-queries' as q;




.footer{
    
    @include mixins.flex(row, space-between);
    @include mixins.text-description(fonts.$open-sans, white, center);
    align-items: center;
    background-color: #689572;
    height: 50px;

    @include q.tablet{

        width: 90%;
        margin: auto;

        
    }

    @include q.large-tablet {
        width: 80%;
        margin: auto;


    }

    @include q.laptop{
        width: 80%;
        margin: auto;

    }

    @include q.desktop{

        width: 80%;
        margin: auto;

    }

    &__icon {
        width:33.33%;
        font-size: 20px;
        
        
            &--primary {
                color: white;
            }

}
}









