@use '../partials/colors';
@use '../partials/mixins';
@use '../partials/fonts';
@use '../partials/media-queries' as q;



.form_container {
  
  
    background-color: colors.$light-salmon-pink;
    padding: 20px;
    display: flex;
    flex-direction: column;

    @include q.tablet{

      width: 90%;
      margin: auto;
  
      
  }
  
  @include q.large-tablet {
      width: 80%;
      margin: auto;
  
  
  }
  
  @include q.laptop{
      width: 80%;
      margin: auto;
  
  }
  
  @include q.desktop{
  
      width: 80%;
      margin: auto;
  
  }

}

.form__heading{

    @include mixins.text-description(fonts.$rammetto, white, center);
    margin-top: 6px;
}

.form__paragraph{

    @include mixins.text-description(fonts.$open-sans, white, center);
    font-weight: bold;
}

input[type=text], input[type=email], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    // resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #404040;
  
  }
  
  button[type=submit] {
    background-color: #689572;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    margin-top: 6px;
  }
  
  button[type=submit]:hover {
    background-color: #45a049;
  }
  
    
  
  
  .input_label {
      width: 25%;
      float: left;
      margin-top: 6px;
      
  }
  
  .input_bar
  {
      width: 75%;
      float: left;
      margin-top: 6px;
  
  }
  
  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }
  