@use '../partials/colors';
@use '../partials/mixins';
@use '../partials/fonts';

.review{

    background-color:#FAA196 ;
    @include mixins.flex(row, center);
    gap: 15px;
    }
    
    .review__heading {
    @include mixins.text-description(fonts.$rammetto, white, center);
    width:100%;
    font-size: xx-large;
    }

    .review__item{
        border: 2px solid white;
        width: 33.33%;
        @include mixins.text-description(fonts.$open-sans, colors.$black-olive, center);
        font-style: italic;
        font-size: small;
        font-weight: bold;
        padding: 10px;
        margin-bottom: 15px;
    }
    .fa-quote-right, .fa-quote-left {

        color: colors.$black-olive;
    }
    .review__paragraph--name{
        float: left;
    }
    
    .review__paragraph--date{
        float: right;
    }

 